{% extends 'base.html' %}
 {% block title %}
       Welcome Bismilla Computer
  {% endblock %}
{% block content %}
{% if category_posts %}
 <h1>{{ cats }}</h1>
    {% for post in category_posts %}
       <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
      <small>
          {{ post.author.first_name }}-
          {{ post.author.last_name }}-
          {{ post.post_date }}
          {% if user.is_authenticated %}
          <a href="{% url 'update_post' post.pk %}">(Edit)</a>
          <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
           {% endif %}
      </small><br>{{ post.author.email }}<br>
        {{ post.body|slice:":200"|safe }} </li>
    {% endfor %}
{% else %}
    Sorry this page does not exist.
{% endif %}
{% endblock %}