{% extends 'base.html' %}
 {% block title %}
       Welcome Bismilla Computer
  {% endblock %}
{% block content %}

 <h1>Post</h1>
        {% for post in object_list %}
        <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
          <a href="{% url 'category' post.category %}">{{ post.category }}</a>
          {{ post.author.first_name }}-
          {{ post.author.last_name }}-
          {{ post.post_date }}
          {% if user.is_authenticated %}
             {% if user.id == post.author.id %}
          <a href="{% url 'update_post' post.pk %}">(Edit)</a>
          <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
            {% endif %}
           {% endif %}
      </small><br>{{ post.author.email }}<br>
            {{ post.snippet }}
        </li>
        {% endfor %}

{% endblock %}